<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>게시글 {{post.title}}</title>
    <link rel="stylesheet" href="/css/lib/bootstrap.min.css">
</head>
<body>
    <div class="col-md-12">
        <h1>{{post.title}} <small>{{post.author}}</small></h1>
        <p>{{post.content}}</p>
    </div>
</body>
<script src="/js/lib/jquery.min.js"></script>
<script src="/js/lib/bootstrap.min.js"></script>
</html>